<section class="section" id="about-section">
  <div class="section__info" animateOnScroll animationName="section__info--animated">
    <i class="section__border"></i>
    <h2 class="section__title">KNOW MORE</h2>
    <h2 class="section__title">ABOUT ME</h2>
    <p class="section__text">Caesгris tempore in Gallia duo genera hominum erant, qui aliquo erant honore:
      druides et equites. Plebs enim servorum paene loco habebatur; itгque sors plebis gravis et tristis erat.
      Homines, cum ingenti tributo aut gravi injuria premebantur, in servitutem se nobilibus dabant.
    </p>
    <a class="section__button" href="./assets/cv.txt" download>
      <span>DOWNLOAD MY CV</span>
    </a>
  </div>
  <img class="section__img box" src="./assets/img/about-pic.jpg" alt="man" animateOnScroll animationName="section__img--animated">
</section>
