<section class="section">
  <div class="section__info">
    <div class="section__border"></div>
    <div class="section__title">KNOW MORE</div>
    <div class="section__title">ABOUT ME</div>
    <div class="section__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
      dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
      quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    </div>
    <button class="section__button">DOWNLOAD MY CV</button>
  </div>
  <img class="section__img" src="../../assets/img/about-pic.jpg" alt="man">
</section>
