.section {
  display: flex;
  width: 85%;
  max-width: 1165px;
  margin: 0 auto 0;
}

.section__info {
  margin: 180px 0 0 0;
}

.section__border {
  width: 60px;
  height: 2px;
  margin: 0 0 5px;

  border: 2px solid #7a7a7a;
}

.section__title {
  font-weight: 600;
  font-size: 46px;
  font-family: var(--main-font);
  color: var(--main-color);
  text-transform: uppercase;
}

.section__text {
  width: 78%;
  margin: 0 0 35px 0;

  font-size: 16px;
  font-family: var(--main-font);
  color: var(--main-color);
}

.section__button {
  height: 50px;
  width: 240px;

  font-size: 16px;
  font-family: var(--main-font);
  color: var(--main-color);

  border: 1px solid var(--main-color);
  background: transparent;
  outline: none;
  cursor: pointer;
}

.section__button:hover {
  border: none;
  -webkit-box-shadow: 0 5px 10px 1px rgba(222,222,222,1);
  -moz-box-shadow: 0 5px 10px 1px rgba(222,222,222,1);
  box-shadow: 0 5px 10px 1px rgba(222,222,222,1);
}

.section__button:active {
  margin-top: 2px;
  -webkit-box-shadow: 0 3px 10px rgba(222,222,222,1);
  -moz-box-shadow: 0 3px 10px 0 rgba(222,222,222,1);
  box-shadow: 0 3px 10px 0 rgba(222,222,222,1);
}

.section__img {
  width: 49%;
  margin: 110px 0 125px;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 1000ms;

  transform: translate(0, 0);
  transition: transform 1000ms;
}


.section__move {
  -webkit-transform: translate(50px, 50px);
  transform: translate(50px, 50px);
}
