<section class="section">
  <div class="section__info" animateOnScroll animationName="section__info--animated">
    <i class="section__border"></i>
    <h2 class="section__title">KNOW MORE</h2>
    <h2 class="section__title">ABOUT ME</h2>
    <p class="section__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
      dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
      quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    </p>
    <a class="section__button" href="../../assets/document.txt" download>
      <span>DOWNLOAD MY CV</span>
    </a>
  </div>
  <img class="section__img box" src="../../assets/img/about-pic.jpg" alt="man" animateOnScroll animationName="section__img--animated">
</section>
