<div class="wrapper">
  <div class="headline">
    <div class="headline__border"></div>
    <div class="headline__title">My Skills</div>
  </div>
  <!--<button (click)="add()">Add Point!</button>-->
  <div [chart]="chart"></div>
  <!--<button (click)="init()">Init</button>-->
  <!--<button (click)="addSerie()">Add Serie</button>-->
  <!--<button (click)="removeSerie()">Remove Serie</button>-->
  <!--<button (click)="addPoint()">Add Point</button>-->
  <!--<button (click)="removePoint()">Remove Point</button>-->
  <!--<div [chart]="chart"></div>-->
</div>
