<div class="wrapper">
  <div class="sub-wrapper">
    <div class="headline">
      <i class="headline__border"></i>
      <h2 class="headline__title">Portfolio</h2>
    </div>
    <main class="main">
      <div class="main__portfolio">
        <img *ngFor="let image of visibleImgArray" class="main__img" [src]="image.src" [alt]="image.alt">
      </div>

      <button [disabled]="visibleImgArray.length === imageArray.length" (click)="loadMore()" class="main__button" type="button">Load more</button>
    </main>
  </div>
</div>
