<div class="wrapper">
  <div class="sub-wrapper">
    <div class="headline">
      <i class="headline__border"></i>
      <h2 class="headline__title">Services</h2>
    </div>
    <main class="main">
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/research-serv.png" alt="User research">
        <figcaption class="main__caption">User Research</figcaption>
      </figure>
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/ai-serv.png" alt="AI and wireframes">
        <figcaption class="main__caption">AI And Wireframes</figcaption>
      </figure>
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/testing-serv.png" alt="User testing">
        <figcaption class="main__caption">User Testing</figcaption>
      </figure>
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/design-serv.png" alt="Looks and feels design(UI)">
        <figcaption class="main__caption">Looks And Feels Design(UI)</figcaption>
      </figure>
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/delivery-serv.png" alt="Delivery">
        <figcaption class="main__caption">Delivery</figcaption>
      </figure>
      <figure class="main__services" animateOnScroll animationName="main__services--animated">
        <img class="main__img" src="./assets/img/support-serv.png" alt="Integration Support">
        <figcaption class="main__caption">Integration Support</figcaption>
      </figure>
    </main>
  </div>
</div>
