<div class="wrapper">
  <div class="headline">
    <i class="headline__border"></i>
    <h2 class="headline__title">Testimonials</h2>
  </div>
  <swiper [config]="config">
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Limara Tusi</h3>
            <span class="main__txt main__position">CEO, Random COMPANY</span>
            <p class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </p>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Limara Tusi</h3>
            <span class="main__txt main__position">CEO, Random COMPANY</span>
            <span class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </span>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Limara Tusi</h3>
            <span class="main__txt main__position">CEO, Random COMPANY</span>
            <span class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </span>
          </div>
        </main>
      </div>
  </swiper>
</div>
