<div class="wrapper">
  <div class="headline">
    <i class="headline__border"></i>
    <h2 class="headline__title">Testimonials</h2>
  </div>
  <swiper [config]="config">
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="./assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Limara Tusi</h3>
            <span class="main__txt main__position">CEO, Random COMPANY</span>
            <p class="main__txt main__comment">Optĭmum judicium est placĭda conventio, facta vel ab ipsis, inter quos lis
              est, vel ab arbĭtro. Haec si non procēdit, veniunt in forum, cui praesĭdet judex cum assessorĭbus.
              Dicographus vota calămo scribit.
            </p>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="./assets/img/ava-testim-2.jpg" alt="Man's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Mark Rice</h3>
            <span class="main__txt main__position">Designer, Random COMPANY</span>
            <span class="main__txt main__comment">Lucius Titius Sejum et Maevium, libertos suos, aequis partĭbus herēdes
              scripsit. Deinde codicillis ita  cavit: Lucius Titius Sejo, herēdi suo, salūtem.  Maevium, libertum meum,
              quem in testamento.
            </span>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="./assets/img/ava-testim-3.jpg" alt="Woman's photo">
          <div class="main__text">
            <h3 class="main__txt main__name">Miranda Shepherd</h3>
            <span class="main__txt main__position">Web-developer, Random COMPANY</span>
            <span class="main__txt main__comment">Multi apud Graecos clari medĭci sunt. Primus Graecōrum medĭcus
              Aesculapius est, vir doctus, perītus et ingeniōsus. Postea Aesculapius.
            </span>
          </div>
        </main>
      </div>
  </swiper>
</div>
