<div class="wrapper">
  <div class="headline">
    <div class="headline__border"></div>
    <div class="headline__title">Testimonials</div>
  </div>
  <swiper [config]="config">
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <div class="main__txt main__name">Limara Tusi</div>
            <div class="main__txt main__position">CEO, Random COMPANY</div>
            <div class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </div>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <div class="main__txt main__name">Limara Tusi</div>
            <div class="main__txt main__position">CEO, Random COMPANY</div>
            <div class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </div>
          </div>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">
          <div class="main__text">
            <div class="main__txt main__name">Limara Tusi</div>
            <div class="main__txt main__position">CEO, Random COMPANY</div>
            <div class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec,
            </div>
          </div>
        </main>
      </div>

    <!--<div class="swiper-pagination"></div>-->

  </swiper>
  <!--<main class="main">-->
    <!--<img class="main__img" src="../../assets/img/ava-testim.jpg" alt="Woman's photo">-->
    <!--<div class="main__text">-->
      <!--<div class="main__txt main__name">Limara Tusi</div>-->
      <!--<div class="main__txt main__position">CEO, Random COMPANY</div>-->
      <!--<div class="main__txt main__comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget-->
        <!--dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec-->
        <!--quam felis, ultricies nec,-->
      <!--</div>-->
    <!--</div>-->
  <!--</main>-->
</div>
