<section class="section">
  <div class="section__wrapper">
    <figure class="figure">
      <img class="section__img section__table" src="./assets/img/study-testim.png" alt="Training table">
      <figcaption class="figcaption">
        <span class="section__quantity">120</span>
        <span class="section__description">Hands to work</span>
      </figcaption>
    </figure>
    <figure class="figure">
      <img class="section__img section__smile" src="./assets/img/smile-testim.png" alt="Emoji smile">
      <figcaption class="figcaption">
        <span class="section__quantity">310</span>
        <span class="section__description">Happy clients</span>
      </figcaption>
    </figure>
    <figure class="figure">
      <img class="section__img section__notebook" src="./assets/img/notebook-testim.png" alt="Notebook">
      <figcaption class="figcaption">
        <span class="section__quantity">510</span>
        <span class="section__description">Finished projects</span>
      </figcaption>
    </figure>
    <figure class="figure">
      <img class="section__img section__cup" src="./assets/img/cup-testim.png" alt="Cup">
      <figcaption class="figcaption">
        <span class="section__quantity">720</span>
        <span class="section__description">Cups of coffee</span>
      </figcaption>
    </figure>
  </div>
</section>
<div class="indent"></div>
