<div class="wrapper">
  <div class="sub-wrapper">
    <header class="header">
      <div class="header__logo">
        <img class="header__logo-img" src="../../assets/img/logo.png" alt="logo">
        <span class="header__text">OENRIQUE</span>
        <span class="header__text header__text--small">UX/UI EXPERT</span>
      </div>
      <nav class="header__main-nav">
        <a class="header__link" href="javascript:;">Home</a>
        <a class="header__link" href="javascript:;">About</a>
        <a class="header__link" href="javascript:;">Service</a>
        <a class="header__link" href="javascript:;">Portfolio</a>
        <a class="header__link" href="javascript:;">Contact</a>
      </nav>
    </header>
    <main class="main">
      <div class="main__headline">
        <span class="main__title">Luis Oenrique</span>
        <span class="main__title main__title--small">User Experience / User Interface Expert</span>
        <div class="main__buttons">
          <button class="main__button-more" type="button">Know more</button>
          <button class="main__button-more main__button-hire" type="button">Hire me</button>
        </div>
      </div>
        <img class="main__img" src="../../assets/img/person.png" alt="person">
    </main>
  </div>
</div>
